{
  "प्रीसेट": [
    "@ बेबेल/प्रीसेट-एनवी",
    "@ बेबेल/पूर्व निर्धारित-प्रतिक्रिया"
  ],
  "प्लगइन्स": [
    "@ बेबेल/प्लगइन-सिंटैक्स-ऑब्जेक्ट-रेस्ट-स्प्रेड",
    "@ बेबेल/प्लगइन-प्रस्ताव-वस्तु-आराम-प्रसार"
  ]
}
