.फ्लेक्स {डिस्प्ले: फ्लेक्स; }
.इनलाइन-फ्लेक्स {डिस्प्ले: इनलाइन-फ्लेक्स; }

/* 1. क्रोम 44 बग के लिए फिक्स।
 * https://code.google.com/p/chromium/issues/detail?id=506893 */
.फ्लेक्स-ऑटो {
  फ्लेक्स: 1 1 ऑटो;
  न्यूनतम-चौड़ाई: 0; /* 1 */
  न्यूनतम ऊंचाई: 0; /* 1 */
}

फ्लेक्स-कोई नहीं {फ्लेक्स: कोई नहीं; }

फ्लेक्स-कॉलम {फ्लेक्स-दिशा: कॉलम; }
फ्लेक्स-पंक्ति {फ्लेक्स-दिशा: पंक्ति; }
.फ्लेक्स-रैप {फ्लेक्स-रैप: रैप; }

.आइटम-स्टार्ट {संरेखित-आइटम: फ्लेक्स-स्टार्ट; }
.items-end { align-items: flex-end; }
.items-center { align-items: center; }
.आइटम-बेसलाइन {संरेखित-आइटम: बेसलाइन; }
आइटम-खिंचाव {संरेखित-आइटम: खिंचाव; }

.सेल्फ-स्टार्ट {अलाइन-सेल्फ: फ्लेक्स-स्टार्ट; }
.self-end { align-self: flex-end; }
.self-center { align-self: center; }
.सेल्फ-बेसलाइन { एलाइन-सेल्फ: बेसलाइन; }
.स्व-खिंचाव {संरेखण-स्व: खिंचाव; }

.जस्टिफाई-स्टार्ट {जस्टिफाई-कंटेंट: फ्लेक्स-स्टार्ट; }
.जस्टिफाई-एंड {जस्टिफाई-कंटेंट: फ्लेक्स-एंड; }
.जस्टिफाई-सेंटर { जस्टिफाई-कंटेंट: सेंटर; }
.जस्टिफाई-बीच {जस्टिफाई-कंटेंट: स्पेस-बीच; }
.जस्टिफाई-अराउंड {जस्टिफाई-कंटेंट: स्पेस-अराउंड; }

सामग्री-प्रारंभ {संरेखित-सामग्री: फ्लेक्स-प्रारंभ; }
सामग्री-अंत {संरेखित-सामग्री: फ्लेक्स-अंत; }
.content-center { align-content: center; }
.सामग्री-बीच {संरेखित-सामग्री: अंतरिक्ष-बीच; }
.सामग्री-आसपास {संरेखित-सामग्री: अंतरिक्ष-चारों ओर; }
.सामग्री-खिंचाव {संरेखित-सामग्री: खिंचाव; }

.आदेश-0 {आदेश: 0; }
.आदेश-1 {आदेश: 1; }
.आदेश-2 {आदेश: 2; }
.आदेश-3 {आदेश: 3; }
.आदेश-4 {आदेश: 4; }
.आदेश-5 {आदेश: 5; }
.आदेश-6 {आदेश: 6; }
.आदेश-7 {आदेश: 7; }
.आदेश-8 {आदेश: 8; }
.आदेश-अंतिम {आदेश: 99999; }

@मीडिया (--ब्रेकप्वाइंट-नॉट-स्मॉल) {
  .flex-ns {डिस्प्ले: फ्लेक्स; }
  .इनलाइन-फ्लेक्स-एनएस {डिस्प्ले: इनलाइन-फ्लेक्स; }
  .फ्लेक्स-ऑटो-एनएस {
    फ्लेक्स: 1 1 ऑटो;
    न्यूनतम-चौड़ाई: 0; /* 1 */
    न्यूनतम ऊंचाई: 0; /* 1 */
  }
  .flex-none-ns {फ्लेक्स: कोई नहीं; }
  .फ्लेक्स-कॉलम-एनएस {फ्लेक्स-दिशा: कॉलम; }
  .फ्लेक्स-पंक्ति-एनएस {फ्लेक्स-दिशा: पंक्ति; }
  .फ्लेक्स-रैप-एनएस {फ्लेक्स-रैप: रैप; }
  .items-start-ns { align-items: flex-start; }
  .items-end-ns { align-items: flex-end; }
  .items-center-ns { align-items: center; }
  .आइटम-बेसलाइन-एनएस { एलाइन-आइटम: बेसलाइन; }
  आइटम-खिंचाव-एनएस {संरेखित-आइटम: खिंचाव; }

  .self-start-ns { align-self: flex-start; }
  .self-end-ns { align-self: flex-end; }
  .self-center-ns { align-self: center; }
  .सेल्फ-बेसलाइन-एनएस { एलाइन-सेल्फ: बेसलाइन; }
  .स्व-खिंचाव-एनएस {संरेखण-स्व: खिंचाव; }

  .जस्टिफाई-स्टार्ट-एनएस {जस्टिफाई-कंटेंट: फ्लेक्स-स्टार्ट; }
  .जस्टिफाई-एंड-एनएस {जस्टिफाई-कंटेंट: फ्लेक्स-एंड; }
  .जस्टिफाई-सेंटर-एनएस { जस्टिफाई-कंटेंट: सेंटर; }
  .जस्टिफाई-बीच-एनएस {जस्टिफाई-कंटेंट: स्पेस-बीच; }
  .जस्टिफाई-अराउंड-एनएस {जस्टिफाई-कंटेंट: स्पेस-अराउंड; }

  .सामग्री-प्रारंभ-एनएस {संरेखित-सामग्री: फ्लेक्स-प्रारंभ; }
  .content-end-ns { align-content: flex-end; }
  .content-center-ns { align-content: center; }
  .सामग्री-बीच-एनएस {संरेखित-सामग्री: अंतरिक्ष-बीच; }
  .सामग्री-आसपास-एनएस {संरेखित-सामग्री: अंतरिक्ष-चारों ओर; }
  .सामग्री-खिंचाव-एनएस {संरेखित-सामग्री: खिंचाव; }

  .ऑर्डर-0-एनएस {आदेश: 0; }
  .ऑर्डर-1-एनएस {आदेश: 1; }
  .ऑर्डर-2-एनएस {आदेश: 2; }
  .आदेश-3-एनएस {आदेश: 3; }
  .आदेश-4-एनएस {आदेश: 4; }
  .आदेश-5-एनएस {आदेश: 5; }
  .आदेश-6-एनएस {आदेश: 6; }
  .आदेश-7-एनएस {आदेश: 7; }
  .आदेश-8-एनएस {आदेश: 8; }
  .आदेश-अंतिम-एनएस {आदेश: 99999; }
}
@मीडिया (--ब्रेकपॉइंट-माध्यम) {
  .फ्लेक्स-एम {डिस्प्ले: फ्लेक्स; }
  .इनलाइन-फ्लेक्स-एम {डिस्प्ले: इनलाइन-फ्लेक्स; }
  .फ्लेक्स-ऑटो-एम {
    फ्लेक्स: 1 1 ऑटो;
    न्यूनतम-चौड़ाई: 0; /* 1 */
    न्यूनतम ऊंचाई: 0; /* 1 */
  }
  .flex-none-m {फ्लेक्स: कोई नहीं; }
  .फ्लेक्स-कॉलम-एम {फ्लेक्स-दिशा: कॉलम; }
  फ्लेक्स-पंक्ति-एम {फ्लेक्स-दिशा: पंक्ति; }
  .फ्लेक्स-रैप-एम {फ्लेक्स-रैप: रैप; }
  .items-start-m { align-items: flex-start; }
  .items-end-m { align-items: flex-end; }
  .items-center-m { align-items: center; }
  .आइटम-बेसलाइन-एम {संरेखित-आइटम: बेसलाइन; }
  .आइटम-खिंचाव-एम {संरेखित-आइटम: खिंचाव; }

  .self-start-m { align-self: flex-start; }
  .self-end-m { align-self: flex-end; }
  .self-center-m { align-self: center; }
  .सेल्फ-बेसलाइन-एम { एलाइन-सेल्फ: बेसलाइन; }
  स्व-खिंचाव-एम {संरेखण-स्व: खिंचाव; }

  .जस्टिफाई-स्टार्ट-एम {जस्टिफाई-कंटेंट: फ्लेक्स-स्टार्ट; }
  .जस्टिफाई-एंड-एम {जस्टिफाई-कंटेंट: फ्लेक्स-एंड; }
  .जस्टिफाई-सेंटर-एम { जस्टिफाई-कंटेंट: सेंटर; }
  .जस्टिफाई-बीच-एम {जस्टिफाई-कंटेंट: स्पेस-बीच; }
  .जस्टिफाई-अराउंड-एम {जस्टिफाई-कंटेंट: स्पेस-अराउंड; }

  .सामग्री-प्रारंभ-एम {संरेखित-सामग्री: फ्लेक्स-प्रारंभ; }
  .content-end-m { align-content: flex-end; }
  .content-center-m { align-content: center; }
  .सामग्री-बीच-एम {संरेखित-सामग्री: अंतरिक्ष-बीच; }
  .सामग्री-आसपास-एम {संरेखित-सामग्री: अंतरिक्ष-चारों ओर; }
  .सामग्री-खिंचाव-एम {संरेखित-सामग्री: खिंचाव; }

  .ऑर्डर-0-एम {आदेश: 0; }
  .ऑर्डर-1-एम {आदेश: 1; }
  .ऑर्डर-2-एम {आदेश: 2; }
  .ऑर्डर-3-एम {आदेश: 3; }
  .आदेश-4-एम {आदेश: 4; }
  .आदेश-5-एम {आदेश: 5; }
  .आदेश-6-एम {आदेश: 6; }
  .ऑर्डर-7-एम {आदेश: 7; }
  .आदेश-8-एम {आदेश: 8; }
  .आदेश-अंतिम-एम {आदेश: 99999; }
}

@मीडिया (--ब्रेकप्वाइंट-लार्ज) {
  .फ्लेक्स-एल {डिस्प्ले: फ्लेक्स; }
  .इनलाइन-फ्लेक्स-एल {डिस्प्ले: इनलाइन-फ्लेक्स; }
  .फ्लेक्स-ऑटो-एल {
    फ्लेक्स: 1 1 ऑटो;
    न्यूनतम-चौड़ाई: 0; /* 1 */
    न्यूनतम ऊंचाई: 0; /* 1 */
  }
  .flex-none-l {फ्लेक्स: कोई नहीं; }
  .फ्लेक्स-कॉलम-एल {फ्लेक्स-दिशा: कॉलम; }
  .फ्लेक्स-पंक्ति-एल {फ्लेक्स-दिशा: पंक्ति; }
  .फ्लेक्स-रैप-एल {फ्लेक्स-रैप: रैप; }
  .items-start-l { align-items: flex-start; }
  .items-end-l { align-items: flex-end; }
  .items-center-l { align-items: center; }
  .आइटम-बेसलाइन-एल { एलाइन-आइटम: बेसलाइन; }
  .आइटम-खिंचाव-एल {संरेखित-आइटम: खिंचाव; }

  .self-start-l { align-self: flex-start; }
  .self-end-l { align-self: flex-end; }
  .self-center-l { align-self: center; }
  .सेल्फ-बेसलाइन-एल { एलाइन-सेल्फ: बेसलाइन; }
  .स्व-खिंचाव-एल {संरेखण-स्व: खिंचाव; }

  .जस्टिफाई-स्टार्ट-एल {जस्टिफाई-कंटेंट: फ्लेक्स-स्टार्ट; }
  .जस्टिफाई-एंड-एल {जस्टिफाई-कंटेंट: फ्लेक्स-एंड; }
  .जस्टिफाई-सेंटर-एल { जस्टिफाई-कंटेंट: सेंटर; }
  .जस्टिफाई-बीच-एल {जस्टिफाई-कंटेंट: स्पेस-बीच; }
  .जस्टिफाई-अराउंड-एल {जस्टिफाई-कंटेंट: स्पेस-अराउंड; }

  .सामग्री-प्रारंभ-एल {संरेखित-सामग्री: फ्लेक्स-प्रारंभ; }
  .content-end-l { align-content: flex-end; }
  .content-center-l { align-content: center; }
  .सामग्री-बीच-एल {संरेखित-सामग्री: अंतरिक्ष-बीच; }
  .सामग्री-आसपास-एल {संरेखित-सामग्री: अंतरिक्ष-चारों ओर; }
  .सामग्री-खिंचाव-एल {संरेखित-सामग्री: खिंचाव; }

  .आदेश-0-एल {आदेश: 0; }
  .आदेश-1-एल {आदेश: 1; }
  .ऑर्डर-2-एल {आदेश: 2; }
  .आदेश-3-एल {आदेश: 3; }
  .आदेश-4-एल {आदेश: 4; }
  .आदेश-5-एल {आदेश: 5; }
  .आदेश-6-एल {आदेश: 6; }
  .आदेश-7-एल {आदेश: 7; }
  .आदेश-8-एल {आदेश: 8; }
  .आदेश-अंतिम-एल {आदेश: 99999; }
}
